.experience-section {
  padding: 60px 40px;
  background-color: #f9fafc;
  text-align: center;
}


.experience-title {
  font-size: 2rem;
  font-weight: 700;
  color: #003366;
  margin-bottom: 2.1%;
}

.experience-card {
  background: #fff;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  text-align: left;
  height: 380px;
  transition: transform 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-5px);
}

/* --- Logo at top left --- */
.experience-logo-div{
  /* background-color: #007acc; */
  height: fit-content !important;
  width: auto;
}
.experience-logo-top {
  width: 70px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}

.company-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #003366;
  margin: 0 0 5px 0;
}

.role-type {
  font-weight: bold;
  color: #007acc;
  margin-bottom: 15px;
}

.responsibility-list {
  list-style: disc;
  padding-left: 20px;
  margin-top: 10px;
  color: #444;
  font-size: 0.95rem;
}

.responsibility-list li {
  margin-bottom: 6px;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .experience-section {
padding: 15px ;
}
  .experience-card {
    height: auto;
    text-align: center;
    align-items: center;
  }

  .experience-logo-top {
    margin: 0 auto 10px;
  }

  .company-name,
  .role-type {
    text-align: center;
  }

  .responsibility-list {
    text-align: left;
    display: inline-block;
  }
  .swiper-pagination-bullet {
  background: #003366; /* color of dots */
  opacity: 0.4;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007bff; /* active dot color */
}

.swiper-pagination {
  margin-top: 20px;
  position: relative !important;
}

}
