.stack-section {
  background: #333;
  padding: 50px 0;
  margin: auto;
  position: relative;
  scroll-margin-top: 150px;
}

.work-heading-div {
  position: sticky;
  top: 95px;
  /* Keep heading visible below navbar */
  z-index: 5;
  margin-bottom: 20px;
}

/* Sticky section cards */
.stack-section-card {
  position: sticky;
  top: 165px;
  /* Ensure cards start 150px below navbar */
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 2;
}

/* Individual card styling */
.card {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
  color: #000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  position: sticky;
  top: 175px;
  transition: all 0.5s ease;
  transform: scale(1);
  }

  .overlap-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.overlap-card-img {
  max-width: 100% !important;
  max-height: 500px;
  object-fit: contain;
  border-radius: 10px;
}
.overlap-card-title {
  text-align: center;
  width: 50%;
  font-size: 20px;
  font-weight: 600;
  margin-top: 1.5rem;
background: linear-gradient(90deg, rgba(0, 15, 40, 0.7) 0%, rgba(0, 0, 0, 0.8) 100%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
/* Highlight effect */
.lift {
  transform: scale(1.05) translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .stack-section {
    background: #000;
    margin: auto;
  }

  .stack-section-card {
    max-width: 90% !important;
    margin: auto;
    padding: 20px 0;
    flex-direction: column;
    gap: 35px;
  }

  .card {
    min-width: 100%;
    height: auto !important;
    margin: auto;
    top: 120px !important;
    /* Slightly reduced for smaller screens */
  }

  .overlap-card-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    gap: 25px;
  }
  .overlap-card-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
  }
  .overlap-card-title {
width: 100% !important;
}

  .overlap-card-text {
    width: 100%;
    font-size: 18px;
    color: #000;
    padding: 0 20px 20px;
  }

  .overlap-cards-heading {
    font-size: 18px;
  }

  .overlap-cards-text {
    font-size: 15px;
  }
}