.App {
    margin-top: 60px;
    background-color: #33333310;
    height: 100%;
    font-family: poppins !important;
}

.page-heading {
    font-size: 32px;
    font-family: poppins;
}

.sub-heading {
    font-size: 24px;
    font-weight: 600;
}

.special-heading {
    font-weight: 700;
    display: inline-block;
    padding: 0px;
    background-color: #fff;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;    */
}

.page-text {
    font-size: 18px;
}
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #007bff; /* Blue color */
  border-radius: 50%;
  margin: 0 6px;
  animation: bounce 1.4s infinite ease-in-out both;
}

.dot1 {
  animation-delay: -0.32s;
}

.dot2 {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
/* ===== Scroll to Top Button ===== */
.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 999;
}

.scroll-to-top:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}
@media (max-width: 768px) {

    .page-heading {
        font-size: 28px;

    }

    .sub-heading {
        font-size: 24px;
        font-weight: 600;
    }

    .special-heading {
        font-weight: 700;
        display: inline-block;
        padding: 0px;
        background-color: #fff;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;    */
    }

    .page-text {
        font-size: 16px;
    }
}